.nav-item > .nav-link,
.nav-item > .nav-link:focus {
  color: var(--bs-light);
}
.nav-item > .nav-link:hover {
  color: var(--bs-gray-dark);
}
.nav-item > .nav-link:active {
  color: var(--bs-dark);
}
.nav-item > .nav-link.active {
  color: var(--bs-dark);
}
